.characters {
	display: flex;
	flex-flow: row wrap;
}
.hero-pic {
	display: block;
	flex-shrink: 0;
	width: 300px;
	height: 240px;
	position: relative;
	overflow: hidden;
	margin: 5px;
}
.hero-preview {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.hero-pic:not(.replace) {
	cursor: default;
}

.reveal {
	position: absolute;
	left: 0;
	right: 0;
	will-change: opacity;
	animation: reveal 1s ease-out;
}

@keyframes reveal {
	0% { opacity: 0; }
	100% { opacity: 1; }
}